<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Top navbar example · Bootstrap</title>

    <!-- Custom styles for this template -->
    <script>
    </script>

    @*<script src="~/Scripts/offcanvas.js"></script>*@
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>*@
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">LMS</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                    <a class="nav-link" href="@Url.Action("Index", "Home")"> Home </a>
                </li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">
                    <a class="nav-link" href="@Url.Action("About", "Home")"> About </a>
                </li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "FAQs" ? "active" : "")">
                    <a class="nav-link" href="@Url.Action("FAQs", "Home")"> FAQs </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")"> Contact </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Products" ? "active" : "")">
            <a class="nav-link" href="@Url.Action("Index", "Products")"> Products </a>
        </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="nav-scroller bg-white shadow-sm">
        <nav id="nav-list" class="nav nav-underline">
            <a class="nav-link" href="~/Dashboard/Index"> Dashboard </a>
            <a class="nav-link" href="~/Training/MyTraining"> My Training <span class="badge badge-pill bg-light align-text-bottom">[27]</span></a>
            <a class="nav-link" href="~/Training/Index"> Training Center</a>
            <a class="nav-link" href="~/SkillsCerts/Index"> Skills &amp; Certs</a>
            <a class="nav-link" href="~/Reports/Index"> Reports</a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownB" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </nav>
    </div>

    <main role="main" class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </main>
    <script src="~/Scripts/offcanvas.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>


</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)


</html>
